
img{
    max-width: 100%;
}

.container >.row .aboutText{
    display: inline-block;
    width: 100%;
    float: right;
    padding-top: 160px;
    padding-left: 20px;
}
    .row > .aboutImg > img{
        width: 100%;
    }
    .aboutText > .button-red{
        margin-top: 20px;    
    }
    .aboutText > .button-red:nth-of-type(2){
        margin-left: 12px;
    }
   
@media ( max-width: 1300px ) {
    .container >.row .aboutText{
        padding-top: 90px;
    }
}
@media ( max-width: 1100px ) {
    .container >.row .aboutText{
        padding-top: 0px;
    }
}
@media ( max-width: 768px ) {

}
