.bg-primary {
    background-color: var(--color-primary-white);
}

.bg-grey {
    background-color: var(--color-primary-grey);
}

h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}

.button-red{
    display: inline-block;
    padding: 12px 24px;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--color-button-red);
    color: #fff;
    border-radius: 3px;

}
