:root {
    --gap: 20px;
    --sg: calc(var(--s1) + var(--gap));
    --s1: calc((100% - 11 * var(--gap)) / 12);
    --s2: calc(var(--s1) + var(--sg));
    --s3: calc(var(--s2) + var(--sg));
    --s4: calc(var(--s3) + var(--sg));
    --s5: calc(var(--s4) + var(--sg));
    --s6: calc(var(--s5) + var(--sg));
    --s7: calc(var(--s6) + var(--sg));
    --s8: calc(var(--s7) + var(--sg));
    --s9: calc(var(--s8) + var(--sg));
    --s10: calc(var(--s9) + var(--sg));
    --s11: calc(var(--s10) + var(--sg));
    --s12: calc(var(--s11) + var(--sg)); 

    --mar1: var(--sg);
    --mar2: calc(var(--mar1) + var(--sg));
    --mar3: calc(var(--mar2) + var(--sg));
    --mar4: calc(var(--mar3) + var(--sg));
    --mar5: calc(var(--mar4) + var(--sg));
    --mar6: calc(var(--mar5) + var(--sg));
    --mar7: calc(var(--mar6) + var(--sg));
    --mar8: calc(var(--mar7) + var(--sg));
    --mar9: calc(var(--mar8) + var(--sg));
    --mar10: calc(var(--mar9) + var(--sg));
    --mar11: calc(var(--mar10) + var(--sg));
    --mar12: calc(var(--mar11) + var(--sg));
}
.container {
    display: inline-block;
    width: 100%;
    padding: 90px 0;
}
    .container > .row {
        display: inline-block;
        width: 1200px;
        margin: 0 calc(50% - 600px);
    }
        .container > .row > * {
            display: inline-block;
            float: left;
        }
        .container > .row > * + * {
            margin-left: var(--gap);
        }
        .container > .row > .col-1 { width: var(--s1); }
        .container > .row > .col-2 { width: var(--s2); }
        .container > .row > .col-3 { width: var(--s3); }
        .container > .row > .col-4 { width: var(--s4); }
        .container > .row > .col-5 { width: var(--s5); }
        .container > .row > .col-6 { width: var(--s6); }
        .container > .row > .col-7 { width: var(--s7); }
        .container > .row > .col-8 { width: var(--s8); }
        .container > .row > .col-9 { width: var(--s9); }
        .container > .row > .col-10 { width: var(--s10); }
        .container > .row > .col-11 { width: var(--s11); }
        .container > .row > .col-12 { width: var(--s12); }

        .container > .row > .m-l-1 { margin-left: var(--mar1); }
        .container > .row > .m-l-2 { margin-left: var(--mar2); }
        .container > .row > .m-l-3 { margin-left: var(--mar3); }
        .container > .row > .m-l-4 { margin-left: var(--mar4); }
        .container > .row > .m-l-5 { margin-left: var(--mar5); }
        .container > .row > .m-l-6 { margin-left: var(--mar6); }
        .container > .row > .m-l-7 { margin-left: var(--mar7); }
        .container > .row > .m-l-8 { margin-left: var(--mar8); }
        .container > .row > .m-l-9 { margin-left: var(--mar9); }
        .container > .row > .m-l-10 { margin-left: var(--mar10); }
        .container > .row > .m-l-11 { margin-left: var(--mar11); }
        .container > .row > .m-l-12 { margin-left: var(--mar12); }

        .container > .row > .m-r-1 { margin-right: calc(var(--mar1) - var(--gap)); }
        .container > .row > .m-r-2 { margin-right: calc(var(--mar2) - var(--gap)); }
        .container > .row > .m-r-3 { margin-right: calc(var(--mar3) - var(--gap)); }
        .container > .row > .m-r-4 { margin-right: calc(var(--mar4) - var(--gap)); }
        .container > .row > .m-r-5 { margin-right: calc(var(--mar5) - var(--gap)); }
        .container > .row > .m-r-6 { margin-right: calc(var(--mar6) - var(--gap)); }
        .container > .row > .m-r-7 { margin-right: calc(var(--mar7) - var(--gap)); }
        .container > .row > .m-r-8 { margin-right: calc(var(--mar8) - var(--gap)); }
        .container > .row > .m-r-9 { margin-right: calc(var(--mar9) - var(--gap)); }
        .container > .row > .m-r-10 { margin-right: calc(var(--mar10) - var(--gap)); }
        .container > .row > .m-r-11 { margin-right: calc(var(--mar11) - var(--gap)); }
        .container > .row > .m-r-12 { margin-right: calc(var(--mar12) - var(--gap)); }

@media ( max-width: 1300px ) {
    .container > .row {
        width: 1000px;
        margin: 0 calc(50% - 500px);
    }
}
@media ( max-width: 1100px ) {
    .container > .row {
        width: 680px;
        margin: 0 calc(50% - 340px);
    }
}
@media ( max-width: 768px ) {
    :root {
        --gap: 0px;
        --mar2: 0px;
    }
    .container {
        padding: 60px 0;
    }
    .container > .row {
        width: 100%;
        margin: 0;
        padding: 0 40px;
    }
    .container > .row > .col-1,
    .container > .row > .col-2,
    .container > .row > .col-3,
    .container > .row > .col-4,
    .container > .row > .col-5,
    .container > .row > .col-6,
    .container > .row > .col-7,
    .container > .row > .col-8,
    .container > .row > .col-9,
    .container > .row > .col-10,
    .container > .row > .col-11,
    .container > .row > .col-12 {
        width: 100%;
    }
}

